


.ocean {
  height: 100%;
  background: 
  linear-gradient(#329cd1 5%, #27698c 40%, #052a35 95%);
  background-repeat: repeat-x;
  z-index: 0;
  position: relative;
}
.about {
  display: flex;
  flex-direction: column;

  position: relative;
  align-items: center;

  &-image {
    z-index: 0;
    width: $iceburgImageWidth;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    
  }

  &-skills {
    margin-top: 2.5vw;
    z-index: 0;
    width: 40vw;
    text-align: center;
    &-text {
      h2 {
        font-size: 2.5rem;
      }
      h3 {
        font-size: 1.3rem;
      }
      p {
        font-size: 1.2rem;
      }
      .skills-grid {
        display: flex;
        justify-content: space-evenly;
        border-top: #052a35 1rem solid;
        .mastered {
          border-bottom: #4e8a63af 0.4rem solid;
          background: #7cbc92;
          border-right: #4e8a63af 0.75rem solid;
          border-bottom-left-radius: 2rem;
        }
        .good {
          border-bottom: #82883bb6 0.4rem solid;
          border-right: #82883bb6 0.75rem solid;
          background: #b7bc7c;
          border-bottom-left-radius: 2rem;
        }
        .learning {
          border-bottom: #9e7b41a4 0.4rem solid;
          background: #bc9f71;
          border-right: #9e7b41a4 0.75rem solid;
          border-bottom-left-radius: 2rem;
        }
        .item {
          transition: border .5s ease-in-out;
          &:hover{
            border: 0rem;
          }
          .skills-tags {
            display: flex;
            
            .tag {
              opacity: .8;
              margin: 0.7rem;
              color: #052a35 !important;
              i {
                font-size: 2.5rem;
                
              }
              h4 {
                font-size: 1rem;
                font-weight: 400;
                
              }
            }
          }
        }
      }
    }
  }
  &-text--container {
    
    z-index: 1;
    width: 50%;
    margin: 2.5vw 0 0 2vw;
    display: flex;
    justify-content: space-between;
   
    &-text {
      width: 48%;
      border-left: #032530a8 2rem solid;
      padding: 0rem 1rem 1rem 1rem;
      position: relative;
      &::after{
        z-index: -1;
        content: '';
        animation: AnimateAfterOut .3s forwards ease-in;
        width: 0%;
        height: 100%;
        position: absolute;
        
        background: #17455383;
        top: 0%;
        left: 0%;
      }
      &:hover::after{
        padding: 1rem;
        animation: AnimateAfter .3s forwards ease-in;
        transform-origin: left; 
        
      }
      h2 {
        font-size: 2.8rem;
        color: #032530;
        
        padding: 0px;
        margin: 0px;
        
        
        
        
        
        
      }
      p {
       
       
        font-size: 1.2rem;
        
      }
    }
  }
}
