.ocean {
  height: 100%;
  background: linear-gradient(#329cd1 5%, #27698c 40%, #052a35 95%);
  background-repeat: repeat-x;
  z-index: 0;
  position: relative;
}
.about__image {
  z-index: 0;
  width: $iceburgImageWidth;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.about__link {
  color: #032530;
}
.about {
  display: flex;
  flex-direction: column;

  position: relative;
  align-items: center;
}
.about-text {
  z-index: 1;
  width: 50%;
  margin: 2.5vw 0 0 2vw;
  display: flex;
  justify-content: space-between;
}
.about-text__title {
  font-size: 2.8rem;
  color: #032530;

  padding: 0px;
  margin: 0px;
}
.about-text__paragraph {
  font-size: 1.2rem;
}
.skills {
  margin-top: 2.5vw;
  z-index: 0;
  width: 40%;
  text-align: center;
}
.skills__title {
  font-size: 2.5rem;
}
.about-text__container {
  width: 48%;
  border-left: #032530a8 2rem solid;
  padding: 0rem 1rem 1rem 1rem;
  position: relative;
  // &::after {
  //   z-index: -1;
  //   content: "";
  //   animation: AnimateAfterOut 0.3s forwards ease-in;
  //   width: 0%;
  //   height: 100%;
  //   position: absolute;

  //   background: #17455383;
  //   top: 0%;
  //   left: 0%;
  // }
  // &:hover::after {
  //   padding: 1rem;
  //   animation: AnimateAfter 0.3s forwards ease-in;
  //   transform-origin: left;
  // }
}
.skills-grid {
  display: flex;
  justify-content: space-evenly;
  border-top: #052a35 1rem solid;
}
.skills-item--mastered {
  border-bottom: #4e8a63af 0.4rem solid;
  background: #7cbc92;
  border-right: #4e8a63af 0.75rem solid;
  border-bottom-left-radius: 2rem;
}
.skills-item--good {
  border-bottom: #82883bb6 0.4rem solid;
  border-right: #82883bb6 0.75rem solid;
  background: #b7bc7c;
  border-bottom-left-radius: 2rem;
}
.skills-item--learning {
  border-bottom: #9e7b41a4 0.4rem solid;
  background: #bc9f71;
  border-right: #9e7b41a4 0.75rem solid;
  border-bottom-left-radius: 2rem;
}
.skill {
  opacity: 0.8;
  margin: 0.7rem;
  color: #052a35 !important;
}
.skill__icon {
  font-size: 2.5rem;
}
.skill__text {
  font-size: 1rem;
  font-weight: 400;
}
.skills-section {
  display: flex;
}
.skills-item__title {
  font-size: 1.3rem;
}
