.footer {
  height: 50vh;
  background: url("../images/bottomPattern.svg"),
    linear-gradient(#051421, #0c0a05);
  -webkit-clip-path: polygon(69% 9%, 100% 0, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(69% 9%, 100% 0, 100% 100%, 0 100%, 0 0);
  display: flex;
  justify-content: space-around;
  align-items: center;

  align-content: center;
}
.footer__container {
  display: flex;
  flex-direction: row-reverse;
  width: 75%;
  height: 30vh;
  justify-content: space-between;
}

// footer contact information
.contact-info {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  background: #566b8c;
  height: 100%;
  padding: 1.5rem;
}
.contact-info__item {
  align-self: flex-start;
  display: flex;
  padding: 0.5rem;
  text-align: left;
  flex-direction: row-reverse;
}
.contact-info__text,
.contact-info__icon {
  font-size: 1.2rem;
  padding: 0px;
  align-self: baseline;
  padding: 0px;
  margin: 0px 0.2rem;
  font-weight: 600;
}
.contact-info__icon {
  // color: #051421;
  font-size: 1.5rem;
}
.contact-info__item:hover > .contact-info__text {
  color: #051421;
}
.contact-info__item:hover > .contact-info__icon {
  color: #051421;
}

// footer contact form
.contact-form {
  height: 100%;
  padding: 0% 1%;
  background: #566b8c;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-height: 100%;
  width: 30%;
}
.contact-form__input--row {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  .contact-form__input {
    width: 48%;
  }
}
.contact-form__button {
  max-width: 50%;
  background: #1a234f;
  border: none;
  font-size: 1.5rem;
  padding: 0.4rem 0rem;
  border-radius: 0.2rem;
  color: $white;
}
.contact-form__input {
  background: #293749b4;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 0.3vw 0.5vw;
  font-size: 1.2rem;
  color: $white;
  &::placeholder,
  &:focus {
    color: $white;
  }
}
