.main {
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: $sectionHeight;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  position: relative;

  background: url("../images/stars.svg"),
    linear-gradient(-60deg, #292d49, #517692);

  .iceburg-image {
    z-index: 1;
    width: $iceburgImageWidth;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  .iceburg {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 50%;
    flex-direction: column;

    &-text {
      display: flex;
      flex-direction: column;

      z-index: 2;
      text-align: center;
      align-items: center;

      h2 {
        font-size: 3.5rem;
        color: #132f5b;
      }
      h3 {
        font-size: 1.5rem;
        font-weight: 400;
        color: #547a8e;
        width: 80%;
      }
      a {
        width: 60%;

        padding: 0.5rem 1.3rem;
        font-size: 2rem;

        border-radius: 2rem;

        i {
          padding-top: 0.2rem;
        }
      }
      .button-cta {
        margin-top: 3rem;
        opacity: 0.7;
        background: #517692;
        transition: all 0.5s ease-out;
        &:hover {
          background: #292d49;
        }
      }
    }
  }
}
