@media screen and (max-width: 1450px) {
  // <start of HERO SECTION>
  .ocean {
    height: 100%;
  }

  .hero__image {
    width: 85vw;
  }

  .about__image {
    width: 85vw;
  }

  .about-text {
    width: 70%;
  }

  .skills {
    width: 55%;
  }

  // <end of HERO SECTION/>
}

@media screen and (max-width: 1200px) {
  // <start of HERO SECTION>
  .hero__image {
    width: 100vw;
  }

  .about__image {
    width: 100vw;
  }
}
// <end of HERO SECTION/>

@media screen and (max-width: 1000px) {
  // <start of NAVBAR>
  .navbar {
    background: rgb(71, 100, 128);
    align-items: center;
  }

  .navbar--label {
    display: inline-block;
    margin-right: 3rem;
  }

  .navbar--header {
    margin-left: 2rem;
    width: 28%;
  }

  .navbar__checkbox:checked + .navbar {
    display: none;
  }

  .navbar__links-container {
    display: none;
    background: #1d3b4f;
  }

  .navbar__label {
    font-size: 4rem;
    display: inline;
  }
  .navbar__checkbox:checked ~ .navbar__links-container {
    width: 100%;
    text-align: right;
    display: flex;
    right: 0%;
    top: 100%;
    position: absolute;
    flex-direction: column;

    .navbar__link {
      padding-right: 0px;
      margin-right: 3rem;
      font-size: 3rem;
      &:hover {
        background: #1d3b4f;
      }
    }
  }
  // <end NAVBAR/>

  // <start of HERO SECTION>
  .hero__image {
    width: 100vw;
  }

  .about__image {
    width: 100vw;
  }
}
// <endt of HERO SECTION/>
@media screen and (max-width: 720px) {
  html {
    font-size: 14px;
  }
  .hero {
    height: 55vh;
    background: url("../images/starsMobile.svg"),
      linear-gradient(-60deg, #292d49, #517692);

    .hero__image {
      display: block;
      width: 100vw;
    }

    .hero__container {
      height: 55%;

      .hero__text-container {
        width: 90vw;

        display: flex;
        align-items: center;

        .hero__header {
          position: relative;
          color: white;
          z-index: 5;
          padding: 0px 0.8rem;

          &::after {
            content: "";
            position: absolute;
            top: 0%;
            left: 0;
            background: #1f4270;
            width: 100%;
            height: 65%;
            z-index: -1;
          }
        }

        .hero__sub-header {
          color: #e5e5e5;
        }

        .button-cta {
          opacity: 1;
          font-weight: 700;
        }
      }
    }
  }
  .portfolio-header {
    margin-top: 2vw;
    display: flex;
    z-index: 0;
    min-width: 100%;
    justify-content: space-around;
    position: relative;

    .portfolio-header__image {
      display: none;
    }

    .portfolio-header__title-container {
      position: static;

      transform: none;
      background: #435166;
      width: 100%;
      text-align: center;
      margin: auto;
      z-index: 100;
      padding: 0.5rem 0rem;

      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 0%;
        background: #1f4270;
        width: 25%;
        height: 150%;
        z-index: -100;
      }

      &::after {
        top: -25%;

        left: 50%;
      }

      &::before {
        right: 50%;
        top: -25%;
      }
    }
  }
  .portfolio {
    margin-top: 0vh;

    .portfolio__grid {
      grid-template-columns: 1fr;

      width: 90%;

      .portfolio-item {
        margin: 1rem 0rem;
        max-width: 100%;

        height: 50vh;

        a {
          h3 {
            display: inline;
            opacity: 1;
            transform: none;
            position: static !important;
            font-size: 2.2rem;
            background: #1f4270;
          }

          .portfolio-item__image {
            height: 30%;

            border: none;
          }
        }

        .portfolio-item__tags-container {
          display: none;
          opacity: 1;
          transform: none;
          position: static;
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  // NAVBAR

  // HERO SECTION
  html {
    font-size: 12px;
  }

  .hero {
    height: 55vh;
    background: url("../images/starsMobile.svg"),
      linear-gradient(-60deg, #292d49, #517692);

    .hero__image {
      display: block;
      width: 100vw;
    }

    .hero__container {
      height: 55%;

      .hero__text-container {
        width: 90vw;

        display: flex;
        align-items: center;

        .hero__header {
          position: relative;
          color: white;
          z-index: 5;
          padding: 0px 0.8rem;

          &::after {
            content: "";
            position: absolute;
            top: 0%;
            left: 0;
            background: #1f4270;
            width: 100%;
            height: 65%;
            z-index: -1;
          }
        }

        .hero__sub-header {
          color: #e5e5e5;
        }

        .button-cta {
          opacity: 1;
          font-weight: 700;
        }
      }
    }
  }

  .portfolio-header {
    top: 0;
    left: 0;

    margin-top: 2vw;
    transform: none;

    z-index: 0;
    min-width: 100%;

    position: relative;

    .portfolio-header__image {
      display: none;
    }

    .portfolio-header__title {
      position: unset;
      top: none;
      left: none;
      transform: none;
      background: #435166;
      width: 100%;
      text-align: center;
      margin: auto;
      z-index: 100;
      padding: 0.5rem 0rem;

      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 0%;
        background: #1f4270;
        width: 25%;
        height: 150%;
        z-index: -100;
      }

      &::after {
        top: -25%;
        left: 50%;
      }

      &::before {
        right: 50%;
        top: -25%;
      }
    }
  }

  .enlarge {
    grid-row: 1/1;
    grid-column: 1/1;

    height: 50vh;
    .portfolio-item__image {
      width: 100%;
    }
    .portfolio-item__info-container {
      position: unset;
      bottom: 0;
      right: 0;
      position: static;
      width: 100%;
      display: flex;
      flex-direction: column;
      z-index: 1;

      .portfolio-item___text-container {
        display: block;
        position: static;
        width: 100%;
        margin: auto;

        p {
          width: 100%;
        }
      }

      &__tags {
        position: static;
        width: 100%;

        .main-buttons {
          position: static;
        }
      }
    }
  }

  .portfolio {
    margin-top: 0vh;
    .portfolio-item__info-container {
      width: 90%;
      margin: auto;
      position: static;
    }
    .view-button {
      display: none;
    }
    .portfolio__grid {
      margin-top: 2vh;
      display: flex;
      flex-direction: column;

      max-width: 90%;

      .portfolio-item {
        margin: 1rem 0rem;
        max-width: 100%;
        position: unset;
        height: unset;
        &::after,
        &::before {
          content: none;
        }

        .portfolio-item__image {
          height: 25vh;
          height: 100%;
          border: none;
          box-shadow: none;
          border: #435166 8px solid !important;
        }

        .portfolio-item__tags-container {
          display: none;
          opacity: 1;
          transform: none;
          position: static;
        }
      }
    }
  }

  .about {
    .about__image {
      width: 300vw;
      display: none;
    }

    .skills {
      margin-bottom: 3rem;

      width: 100%;
      align-items: center;
      align-content: center;

      .skills__title {
        text-align: center;
      }

      .skills__title {
        background: #1f4270;
        font-weight: 700;
      }
    }

    .about-text {
      margin: 0px;
      padding: 0px;
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin: 3rem 0rem;

      .about-text__container {
        width: 90%;
        background: #395e7c;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
        border: none;

        .about-text__title {
          color: $white;
        }

        box-shadow: 5px 10px 100px #476aa3;

        &:nth-last-child(1) {
          background: #9bd8ff;

          border-radius: 0rem 0rem 2rem 2rem;

          h2,
          p {
            color: #414e60;
          }
        }

        h2,
        p {
          margin: 0px;

          width: 95%;
          margin: auto;
        }

        h2 {
          padding-top: 1rem;
          font-size: 2.3;
        }

        p {
          padding-bottom: 0.7rem;
          font-size: 1.5rem;
        }
      }
    }
  }
  .skills-grid {
    border: none;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    border: none;

    .skills-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: none;
      border-radius: 0rem;

      .skills-section {
        width: 100%;
        justify-content: space-evenly;

        .skill {
          .skill__icon {
            font-size: 3rem;
          }

          .skill__text {
            font-size: 1.3rem;
            font-weight: 400;
          }
        }
      }
    }

    .skills-item--mastered {
      background: #7cc164;
    }

    .skills-item--good {
      background: #b7bc7c;
    }

    .skills-item--learning {
      background: #bc9f71;
    }
  }

  .mobile-menu {
    &-label {
      font-size: 4rem;
    }

    &:checked ~ nav {
      h2 {
        font-size: 2rem;
      }
    }
  }

  .footer {
    height: 100%;
    clip-path: none;

    flex-direction: column;

    .footer__container {
      height: 90%;
      width: 85%;
      margin: 3rem 0rem;
      flex-direction: column;

      .contact-form,
      .contact-info {
        width: 100%;
      }
      .contact-form {
        justify-content: unset;
        height: 62%;

        .contact-form__input--row {
          flex-direction: column;
          justify-content: unset;

          .contact-form__input {
            width: 100%;
          }
        }

        .contact-form__input {
          padding: 4vw 3vw;
          font-size: 1.7rem;
          margin: 1rem 0vw;
          margin-bottom: 1rem;
        }

        .contact-form__button {
          width: 100%;
          margin: 0px;
          margin-bottom: 1rem;
          padding: 4vw 0vw;
        }
      }
      .contact-info {
        height: 30%;
        margin-top: 3rem;

        .contact-info__text,
        .contact-info__icon {
          font-size: 1.4rem;
        }
      }
    }
  }
}
