@keyframes AnimateAfter {
  0% {
    width: 0%;
  }
  100% {
    transform: rotate(xx);
    width: 100%;
  }
}
@keyframes AnimateAfterOut {
  0% {
    width: 100%;
  }
  100% {
    transform: rotate(xx);
    width: 0%;
  }
}
@keyframes portfolioMobile {
  0% {
  }
  100% {
  }
}
@keyframes enlargeAnimation {
  0% {
    transform: translateX(8%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes enlargeImage {
  0% {
    transform: translateX(-8%);
  }
  100% {
    transform: translateX(0%);
  }
}
@media screen and (max-width: 450px) {
  @keyframes enlargeAnimation {
    0% {
      transform: translateY(-30%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes enlargeImage {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}
