.calculator-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/backgroundPattern.svg),
    linear-gradient(45deg, rgba(0, 21, 60, 0.856), rgb(0, 19, 55));
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.calculator {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background: #2c75a8de;
  color: #0f1b3be8;
  grid-gap: 0.4rem;
  padding: 1rem;
}

.button {
  font-size: 2.5rem;
  background: #09446d;
  border: none;
  color: #048ff2;
}
.input {
  grid-column: 1/5;
  font-size: 2.5rem;
  border: none;
  color: #c9dfef;
  background: #103e5f;
  padding: 1rem;
}
.clear {
  font-size: 2.5rem;
  grid-column: 1/5;
  border: none;
  color: #c9dfef;
  background: #103e5f;
}
.operator {
  color: #c9dfef;
  background: #103e5f;
}
