@keyframes AnimateAfter {
  0% {
    width: 0%; }
  100% {
    transform: rotate(xx);
    width: 100%; } }
@keyframes AnimateAfterOut {
  0% {
    width: 100%; }
  100% {
    transform: rotate(xx);
    width: 0%; } }
@keyframes enlargeAnimation {
  0% {
    transform: translateX(8%); }
  100% {
    transform: translateX(0%); } }
@keyframes enlargeImage {
  0% {
    transform: translateX(-8%); }
  100% {
    transform: translateX(0%); } }
@media screen and (max-width: 450px) {
  @keyframes enlargeAnimation {
    0% {
      transform: translateY(0%); }
    100% {
      transform: translateY(0%); } }
  @keyframes enlargeImage {
    0% {
      transform: translateX(0%); }
    100% {
      transform: translateX(0%); } } }
body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  margin: 0rem;
  padding: 0rem;
  color: #ebebebf8; }

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem; }

a {
  color: #ebebebf8;
  text-decoration: none; }
  a:hover {
    cursor: pointer; }

button:hover {
  cursor: pointer; }

.App {
  position: relative; }

.navbar {
  width: 100%;
  z-index: 3;
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  position: relative; }

.navbar__logo {
  width: 60%; }

.navbar__links-container {
  display: flex; }

.navbar__link {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 1.6rem 1.3rem; }
  .navbar__link:hover {
    background: rgba(81, 118, 146, 0.3); }

.navbar__label,
.navbar__checkbox {
  display: none;
  margin-right: 1rem; }

.hero {
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  background: url("../images/stars.svg"), linear-gradient(-60deg, #292d49, #517692); }

.hero__image {
  z-index: 1;
  width: 65vw;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%); }

.hero__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  flex-direction: column; }

.hero__text-container {
  display: flex;
  flex-direction: column;
  z-index: 2;
  text-align: center;
  align-items: center; }

.hero__header {
  font-size: 3.5rem;
  color: #132f5b;
  line-height: 1; }

.hero__sub-header {
  font-size: 1.5rem;
  font-weight: 400;
  color: #547a8e;
  width: 80%; }

.hero__cta {
  margin-top: 3rem;
  opacity: 0.7;
  background: #517692;
  transition: all 0.5s ease-out;
  width: 60%;
  padding: 0.5rem 1.3rem;
  font-size: 2rem;
  border-radius: 2rem; }
  .hero__cta:hover {
    background: #292d49; }

.ocean {
  height: 100%;
  background: linear-gradient(#329cd1 5%, #27698c 40%, #052a35 95%);
  background-repeat: repeat-x;
  z-index: 0;
  position: relative; }

.about__image {
  z-index: 0;
  width: 65vw;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%); }

.about {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center; }

.about-text {
  z-index: 1;
  width: 50%;
  margin: 2.5vw 0 0 2vw;
  display: flex;
  justify-content: space-between; }

.about-text__title {
  font-size: 2.8rem;
  color: #032530;
  padding: 0px;
  margin: 0px; }

.about-text__paragraph {
  font-size: 1.2rem; }

.skills {
  margin-top: 2.5vw;
  z-index: 0;
  width: 40%;
  text-align: center; }

.skills__title {
  font-size: 2.5rem; }

.about-text__container {
  width: 48%;
  border-left: #032530a8 2rem solid;
  padding: 0rem 1rem 1rem 1rem;
  position: relative; }
  .about-text__container::after {
    z-index: -1;
    content: "";
    animation: AnimateAfterOut 0.3s forwards ease-in;
    width: 0%;
    height: 100%;
    position: absolute;
    background: #17455383;
    top: 0%;
    left: 0%; }
  .about-text__container:hover::after {
    padding: 1rem;
    animation: AnimateAfter 0.3s forwards ease-in;
    transform-origin: left; }

.skills-grid {
  display: flex;
  justify-content: space-evenly;
  border-top: #052a35 1rem solid; }

.skills-item--mastered {
  border-bottom: #4e8a63af 0.4rem solid;
  background: #7cbc92;
  border-right: #4e8a63af 0.75rem solid;
  border-bottom-left-radius: 2rem; }

.skills-item--good {
  border-bottom: #82883bb6 0.4rem solid;
  border-right: #82883bb6 0.75rem solid;
  background: #b7bc7c;
  border-bottom-left-radius: 2rem; }

.skills-item--learning {
  border-bottom: #9e7b41a4 0.4rem solid;
  background: #bc9f71;
  border-right: #9e7b41a4 0.75rem solid;
  border-bottom-left-radius: 2rem; }

.skill {
  opacity: 0.8;
  margin: 0.7rem;
  color: #052a35 !important; }

.skill__icon {
  font-size: 2.5rem; }

.skill__text {
  font-size: 1rem;
  font-weight: 400; }

.skills-section {
  display: flex; }

.skills-item__title {
  font-size: 1.3rem; }

.portfolio-header {
  z-index: 0;
  position: absolute;
  top: 37%;
  left: 48%;
  text-align: center;
  transform: translate(-50%, -50%); }

.portfolio-header__image {
  width: 65vw;
  z-index: 0;
  background: none; }

.portfolio-header__title {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 61%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.8rem; }

.portfolio {
  margin-bottom: 5vh;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center; }

.portfolio__grid {
  max-width: 80%;
  display: grid;
  grid-gap: 2.5vw;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr); }

.portfolio-item {
  padding: 0px;
  position: relative;
  margin: 0rem;
  height: 30vh;
  background: #182957;
  z-index: 1; }
  .portfolio-item > .view-button:hover {
    cursor: pointer; }
  .portfolio-item:hover .view-button {
    opacity: 1; }
  .portfolio-item:hover::after {
    opacity: 1; }
  .portfolio-item:hover .portfolio-item__image {
    opacity: 0.5; }
  .portfolio-item::after {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.6vw solid #ebebebf8;
    transition: opacity 0.3s ease-in; }

.portfolio-item__info-container {
  opacity: 0;
  background: #f1f1f1;
  z-index: -10;
  position: absolute;
  width: 70%;
  height: 70%;
  bottom: 0%;
  right: 0%; }

.portfolio-item__buttons-container {
  height: 43.8%;
  position: absolute;
  bottom: 0%;
  left: 4%;
  width: 50%;
  padding: 1rem; }

.portfolio-item__tags-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  display: none; }

.portfolio-item__tag {
  color: #292D49;
  padding: 0.2rem 0.8rem;
  font-size: 1.1rem;
  border: 3px solid #292D49;
  border-radius: 2rem; }

.portfolio-item__links-container {
  display: flex;
  justify-content: space-between; }

.portfolio-item__button {
  color: #f1f1f1;
  border: 6px solid #292D49;
  background: #292D49;
  font-size: 1.4rem;
  border-radius: 2rem;
  width: 47%;
  font-weight: 700;
  padding: 0.2rem;
  text-align: center; }

.portfolio-item__image {
  transition: opacity 0.4ms ease-out;
  border: 0.6vw solid #292D49;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: black;
  margin-bottom: 0rem;
  z-index: 3; }

.view-button {
  opacity: 0;
  transition: all 0.4s ease-in;
  transform-origin: 0% 0%;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 700;
  color: #ebebebf8;
  padding: 0.7rem 1rem;
  border: 4px solid #ebebebf8; }

.portfolio-item__button--github {
  background: none;
  color: #292D49; }

.portfolio-item___text-container {
  padding: 1rem;
  padding-top: 0.4rem;
  width: 43%;
  z-index: 2;
  position: absolute;
  top: 0%;
  right: 0%;
  text-align: left;
  display: none; }

.portfolio-item__paragraph {
  font-size: 1.2rem;
  margin-bottom: 0.6rem; }

.portfolio-item__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin: none;
  padding: none; }

.portfolio-item__title,
.portfolio-item__paragraph {
  color: #292D49; }

.enlarge {
  grid-row: 1/3;
  grid-column: 1/3;
  height: 100%;
  background: none; }
  .enlarge:hover .portfolio-item__image {
    opacity: 1; }
  .enlarge::after {
    display: none; }
  .enlarge > *:hover {
    cursor: default; }
  .enlarge .view-button {
    display: none; }
  .enlarge .portfolio-item__image {
    width: 70%;
    height: 70%;
    box-shadow: 12px 12px 20px #00000041;
    animation: enlargeImage 0.4s ease-out forwards; }
  .enlarge .portfolio-item__info-container {
    opacity: 1;
    animation: enlargeAnimation 0.4s ease-out forwards; }
  .enlarge .portfolio-item__buttons-container,
  .enlarge .portfolio-item___text-container {
    display: block; }
  .enlarge .portfolio-item__tags-container {
    display: flex; }

.footer {
  height: 50vh;
  background: url("../images/bottomPattern.svg"), linear-gradient(#051421, #0c0a05);
  -webkit-clip-path: polygon(69% 9%, 100% 0, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(69% 9%, 100% 0, 100% 100%, 0 100%, 0 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center; }

.footer__container {
  display: flex;
  flex-direction: row-reverse;
  width: 75%;
  height: 30vh;
  justify-content: space-between; }

.contact-info {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  background: #566b8c;
  height: 100%;
  padding: 1.5rem; }

.contact-info__item {
  align-self: flex-start;
  display: flex;
  padding: 0.5rem;
  text-align: left;
  flex-direction: row-reverse; }

.contact-info__text,
.contact-info__icon {
  font-size: 1.2rem;
  padding: 0px;
  align-self: baseline;
  padding: 0px;
  margin: 0px 0.2rem; }

.contact-info__text:hover ~ .contact-info__icon {
  color: #051421; }

.contact-form {
  height: 100%;
  padding: 0% 1%;
  background: #566b8c;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-height: 100%;
  width: 30%; }

.contact-form__input--row {
  max-width: 100%;
  display: flex;
  justify-content: space-between; }
  .contact-form__input--row .contact-form__input {
    width: 48%; }

.contact-form__button {
  max-width: 50%;
  background: #1a234f;
  border: none;
  font-size: 1.5rem;
  padding: 0.4rem 0rem;
  border-radius: 0.2rem;
  color: #ebebebf8; }

.contact-form__input {
  background: #293749b4;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 0.3vw 0.5vw;
  font-size: 1.2rem;
  color: #ebebebf8; }
  .contact-form__input::placeholder, .contact-form__input:focus {
    color: #ebebebf8; }

@media screen and (max-width: 1450px) {
  .ocean {
    height: 100%; }

  .hero__image {
    width: 85vw; }

  .about__image {
    width: 85vw; }

  .about-text {
    width: 70%; }

  .skills {
    width: 55%; } }
@media screen and (max-width: 1200px) {
  .hero__image {
    width: 100vw; }

  .about__image {
    width: 100vw; } }
@media screen and (max-width: 1000px) {
  .navbar {
    background: #476480;
    align-items: center; }

  .navbar--label {
    display: inline-block;
    margin-right: 3rem; }

  .navbar--header {
    margin-left: 2rem;
    width: 28%; }

  .navbar__checkbox:checked + .navbar {
    display: none; }

  .navbar__links-container {
    display: none;
    background: #1d3b4f; }

  .navbar__label {
    font-size: 4rem;
    display: inline; }

  .navbar__checkbox:checked ~ .navbar__links-container {
    width: 100%;
    text-align: right;
    display: flex;
    right: 0%;
    top: 100%;
    position: absolute;
    flex-direction: column; }
    .navbar__checkbox:checked ~ .navbar__links-container .navbar__link {
      padding-right: 0px;
      margin-right: 3rem;
      font-size: 3rem; }
      .navbar__checkbox:checked ~ .navbar__links-container .navbar__link:hover {
        background: #1d3b4f; }

  .hero__image {
    width: 100vw; }

  .about__image {
    width: 100vw; } }
@media screen and (max-width: 720px) {
  html {
    font-size: 14px; }

  .hero {
    height: 55vh;
    background: url("../images/starsMobile.svg"), linear-gradient(-60deg, #292d49, #517692); }
    .hero .hero__image {
      display: block;
      width: 100vw; }
    .hero .hero__container {
      height: 55%; }
      .hero .hero__container .hero__text-container {
        width: 90vw;
        display: flex;
        align-items: center; }
        .hero .hero__container .hero__text-container .hero__header {
          position: relative;
          color: white;
          z-index: 5;
          padding: 0px 0.8rem; }
          .hero .hero__container .hero__text-container .hero__header::after {
            content: "";
            position: absolute;
            top: 0%;
            left: 0;
            background: #1f4270;
            width: 100%;
            height: 65%;
            z-index: -1; }
        .hero .hero__container .hero__text-container .hero__sub-header {
          color: #e5e5e5; }
        .hero .hero__container .hero__text-container .button-cta {
          opacity: 1;
          font-weight: 700; }

  .portfolio-header {
    margin-top: 2vw;
    display: flex;
    z-index: 0;
    min-width: 100%;
    justify-content: space-around;
    position: relative; }
    .portfolio-header .portfolio-header__image {
      display: none; }
    .portfolio-header .portfolio-header__title-container {
      position: static;
      transform: none;
      background: #435166;
      width: 100%;
      text-align: center;
      margin: auto;
      z-index: 100;
      padding: 0.5rem 0rem; }
      .portfolio-header .portfolio-header__title-container::after, .portfolio-header .portfolio-header__title-container::before {
        content: "";
        position: absolute;
        top: 0%;
        background: #1f4270;
        width: 25%;
        height: 150%;
        z-index: -100; }
      .portfolio-header .portfolio-header__title-container::after {
        top: -25%;
        left: 50%; }
      .portfolio-header .portfolio-header__title-container::before {
        right: 50%;
        top: -25%; }

  .portfolio {
    margin-top: 0vh; }
    .portfolio .portfolio__grid {
      grid-template-columns: 1fr;
      width: 90%; }
      .portfolio .portfolio__grid .portfolio-item {
        margin: 1rem 0rem;
        max-width: 100%;
        height: 50vh; }
        .portfolio .portfolio__grid .portfolio-item a h3 {
          display: inline;
          opacity: 1;
          transform: none;
          position: static !important;
          font-size: 2.2rem;
          background: #1f4270; }
        .portfolio .portfolio__grid .portfolio-item a .portfolio-item__image {
          height: 30%;
          border: none; } }
@media screen and (max-width: 450px) {
  html {
    font-size: 12px; }

  .hero {
    height: 55vh;
    background: url("../images/starsMobile.svg"), linear-gradient(-60deg, #292d49, #517692); }
    .hero .hero__image {
      display: block;
      width: 100vw; }
    .hero .hero__container {
      height: 55%; }
      .hero .hero__container .hero__text-container {
        width: 90vw;
        display: flex;
        align-items: center; }
        .hero .hero__container .hero__text-container .hero__header {
          position: relative;
          color: white;
          z-index: 5;
          padding: 0px 0.8rem; }
          .hero .hero__container .hero__text-container .hero__header::after {
            content: "";
            position: absolute;
            top: 0%;
            left: 0;
            background: #1f4270;
            width: 100%;
            height: 65%;
            z-index: -1; }
        .hero .hero__container .hero__text-container .hero__sub-header {
          color: #e5e5e5; }
        .hero .hero__container .hero__text-container .button-cta {
          opacity: 1;
          font-weight: 700; }

  .portfolio-header {
    top: 0;
    left: 0;
    margin-top: 2vw;
    transform: none;
    z-index: 0;
    min-width: 100%;
    position: relative; }
    .portfolio-header .portfolio-header__image {
      display: none; }
    .portfolio-header .portfolio-header__title {
      position: unset;
      top: none;
      left: none;
      transform: none;
      background: #435166;
      width: 100%;
      text-align: center;
      margin: auto;
      z-index: 100;
      padding: 0.5rem 0rem; }
      .portfolio-header .portfolio-header__title::after, .portfolio-header .portfolio-header__title::before {
        content: "";
        position: absolute;
        top: 0%;
        background: #1f4270;
        width: 25%;
        height: 150%;
        z-index: -100; }
      .portfolio-header .portfolio-header__title::after {
        top: -25%;
        left: 50%; }
      .portfolio-header .portfolio-header__title::before {
        right: 50%;
        top: -25%; }

  .portfolio {
    margin-top: 0vh; }
    .portfolio .portfolio-item__tags-container {
      opacity: 1;
      width: 100%; }
      .portfolio .portfolio-item__tags-container .portfolio-item__tag {
        font-size: 1.4rem; }
    .portfolio .portfolio-item___text-container {
      text-align: center; }
    .portfolio .portfolio-item__paragraph {
      font-size: 1.3rem; }
    .portfolio .portfolio-item__title {
      font-size: 2.4rem;
      text-transform: uppercase;
      letter-spacing: 2px; }
    .portfolio .portfolio-item__buttons-container {
      display: none;
      width: 80%;
      align-self: center;
      position: static; }
    .portfolio .portfolio-item__info-container {
      width: 90%;
      margin: auto;
      position: static;
      z-index: -100; }
    .portfolio .view-button {
      display: none; }
    .portfolio .portfolio__grid {
      margin-top: 2vh;
      display: flex;
      flex-direction: column;
      max-width: 90%; }
      .portfolio .portfolio__grid .portfolio-item {
        margin: 1rem 0rem;
        max-width: 100%;
        position: unset;
        height: unset; }
        .portfolio .portfolio__grid .portfolio-item::after, .portfolio .portfolio__grid .portfolio-item::before {
          content: none; }
        .portfolio .portfolio__grid .portfolio-item .portfolio-item__image {
          height: 25vh;
          height: 100%;
          border: none;
          box-shadow: none;
          border: #435166 8px solid !important;
          z-index: 100; }

  .about .about__image {
    width: 300vw;
    display: none; }
  .about .skills {
    margin-bottom: 3rem;
    width: 100%;
    align-items: center;
    align-content: center; }
    .about .skills .skills__title {
      text-align: center; }
    .about .skills .skills__title {
      background: #1f4270;
      font-weight: 700; }
  .about .about-text {
    margin: 0px;
    padding: 0px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0rem; }
    .about .about-text .about-text__container {
      width: 90%;
      background: #395e7c;
      border-top-right-radius: 2rem;
      border-top-left-radius: 2rem;
      border: none;
      box-shadow: 5px 10px 100px #476aa3; }
      .about .about-text .about-text__container .about-text__title {
        color: #ebebebf8; }
      .about .about-text .about-text__container:nth-last-child(1) {
        background: #9bd8ff;
        border-radius: 0rem 0rem 2rem 2rem; }
        .about .about-text .about-text__container:nth-last-child(1) h2,
        .about .about-text .about-text__container:nth-last-child(1) p {
          color: #414e60; }
      .about .about-text .about-text__container h2,
      .about .about-text .about-text__container p {
        margin: 0px;
        width: 95%;
        margin: auto; }
      .about .about-text .about-text__container h2 {
        padding-top: 1rem;
        font-size: 2.3; }
      .about .about-text .about-text__container p {
        padding-bottom: 0.7rem;
        font-size: 1.5rem; }

  .skills-grid {
    border: none;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    border: none; }
    .skills-grid .skills-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: none;
      border-radius: 0rem; }
      .skills-grid .skills-item .skills-section {
        width: 100%;
        justify-content: space-evenly; }
        .skills-grid .skills-item .skills-section .skill .skill__icon {
          font-size: 3rem; }
        .skills-grid .skills-item .skills-section .skill .skill__text {
          font-size: 1.3rem;
          font-weight: 400; }
    .skills-grid .skills-item--mastered {
      background: #7cc164; }
    .skills-grid .skills-item--good {
      background: #b7bc7c; }
    .skills-grid .skills-item--learning {
      background: #bc9f71; }

  .mobile-menu-label {
    font-size: 4rem; }
  .mobile-menu:checked ~ nav h2 {
    font-size: 2rem; }

  .footer {
    height: 100%;
    clip-path: none;
    flex-direction: column; }
    .footer .footer__container {
      height: 90%;
      width: 85%;
      margin: 3rem 0rem;
      flex-direction: column; }
      .footer .footer__container .contact-form,
      .footer .footer__container .contact-info {
        width: 100%; }
      .footer .footer__container .contact-form {
        justify-content: unset;
        height: 62%; }
        .footer .footer__container .contact-form .contact-form__input--row {
          flex-direction: column;
          justify-content: unset; }
          .footer .footer__container .contact-form .contact-form__input--row .contact-form__input {
            width: 100%; }
        .footer .footer__container .contact-form .contact-form__input {
          padding: 4vw 3vw;
          font-size: 1.7rem;
          margin: 1rem 0vw;
          margin-bottom: 1rem; }
        .footer .footer__container .contact-form .contact-form__button {
          width: 100%;
          margin: 0px;
          margin-bottom: 1rem;
          padding: 4vw 0vw; }
      .footer .footer__container .contact-info {
        height: 30%;
        margin-top: 3rem; }
        .footer .footer__container .contact-info .contact-info__text,
        .footer .footer__container .contact-info .contact-info__icon {
          font-size: 1.4rem; } }
.enlarge {
  grid-row: 1/1;
  grid-column: 1/1;
  height: 50vh; }
  .enlarge .portfolio-item__buttons-container {
    display: block; }
  .enlarge .portfolio-item__image {
    width: 100%; }
  .enlarge .portfolio-item__info-container {
    position: unset;
    bottom: 0;
    right: 0;
    position: static;
    width: 95%;
    display: flex;
    flex-direction: column;
    z-index: 1; }
    .enlarge .portfolio-item__info-container .portfolio-item___text-container {
      display: block;
      position: static;
      width: 100%;
      margin: auto; }
      .enlarge .portfolio-item__info-container .portfolio-item___text-container p {
        width: 100%; }
    .enlarge .portfolio-item__info-container__tags {
      position: static;
      width: 100%; }
      .enlarge .portfolio-item__info-container__tags .main-buttons {
        position: static; }

/* sass --watch sass/main.scss:css/main.css */

/*# sourceMappingURL=main.css.map */
